.l-container{
    &[data-state="contact"] {
        .l-section{
            &.is-contact{
                display:block;
            }
            &.is-thanks{
                display:none;
            }
        }
    }
    &[data-state="thanks"] {
      .l-section{
            &.is-contact{
                display:none;
            }
            &.is-thanks{
                display:block;
            }
        }  
    }
}