html(lang="ja")
    head
        title ○○フォーム
        meta(charset='utf-8')
        meta(name="robots" content="noindex,nofollow")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
    body
        include assets/header.pug
        include assets/container.pug
        include assets/footer.pug