dd.submit_btns
    p#confirmBox
        input#confirmBtn.submitsBtns(
            type="button"
            value = ""
        )
    p#returnBox.hid
        input#returnBtn.submitsBtns(
            type="button"
            value = "戻る"
        )
    p#submitBox.hid
        input#submitBtn.submitsBtns(
            type="button"
            value = "送信"
        )